<div class="card">
  <h1>Director</h1>
  <div class="content">
    <!-- <div class="image"> -->
      <!-- <img src="assets/film-director.png" alt="director" /> -->
      <!-- <img src="{{data.image}}" /> -->
    <!-- </div> -->
    <div class="info">
      <p class="name">
        {{ data.name }}
      </p>
      <p class="bio">
        {{ data.bio }}
      </p>
      <div class="life">
        <p><strong>Born:</strong> {{ data.birth }}</p>
        <p><strong>Died:</strong> {{ data.death }}</p>
      </div>
    </div>
  </div>
</div>
